





$font: arial;
$boxshadow: 10px 10px 15px gray;
$borderimg: 1px solid gray;
$boxshadowimg: 2px 2px 5px gray;

		* {

			font-family: $font;
		}
		
		.container {
			  margin: 80px auto;
			  width: 1000px;
			  height: auto;
			  border-radius: 12px;
			  border: 2px solid black;
			  box-shadow: $boxshadow;
		}

		.containerg {
			  margin: 0 auto;
			  width: 1000px;
			  height: auto;
			  border-radius: 12px;
			  border: 2px solid black;
			  box-shadow: $boxshadow;
		}

		.header h1 {
			  background-color: #8c8884;
			  text-align: center;
			  font-family: arial;
			  color: white;
			  padding: 20px;
			  margin-top: 0;
			  border-radius: 10px 10px 0 0; 
		}

		a {

			text-decoration: none;
			color: black;
		}

		.navbar {

			border-top: 2px solid black;
			border-bottom: 2px solid black;
			padding: 10px;
			margin-top: -22px;

			a:hover {

				background-color: #8c8884;
				color: white;
				border-radius: 5px;
				transition: 1s;

			}

		}

		
		.right{

			padding: 5px 30px 5px 30px;
		}

		.footer {

			border-top: 2px solid black;
			text-align: center;
			background-color: #8c8884;
			padding: 2px; 
			border-radius: 0 0 10px 10px;
			color: white; 

		}

		.img1 {

			border: $borderimg;	
			margin-top: 20px;
			margin-left: 20px;
			margin-bottom: 10px;
			width: 300px;
			height: 200px;
		
			
		}

		.img1:hover {

			border: $borderimg;
			box-sizing: border-box;
			transition: 0.5s;
			border-radius: 5px;
			box-shadow: $boxshadowimg; 
		}


		.img2 {

			border: $borderimg;
			margin-top: -124px;
			margin-left: 350px;
			margin-bottom: 10px;
			width: 300px;
			height: 200px;
			position: absolute;
			top: 249px;
			
		}

		.img2:hover {

			border: $borderimg;
			box-sizing: border-box;
			transition: 0.5s;
			border-radius: 5px;
			box-shadow: $boxshadowimg; 
		}

		.img3 {

			border: $borderimg;
			margin-top: -124px;
			margin-left: 680px;
			margin-bottom: 10px;
			width: 300px;
			height: 200px;
			position: absolute;
			top: 249px;
			
		}

		.img3:hover {

			border: $borderimg;
			box-sizing: border-box;
			transition: 0.5s;
			border-radius: 5px;
			box-shadow: $boxshadowimg; 
		}

		.content {

	 		width: 100%;
	 		height: auto;
	 		position: relative;

	 	}

		.img1g {
			border: $borderimg;
		  margin-top: 20px;
		  margin-left: 20px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;

		}

		.img1g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img2g {
		  border: $borderimg;
		  margin-top: 0px;
		  margin-left: 350px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img2g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img3g {
			border: $borderimg;
		  margin-top: 0px;
		  margin-left: 680px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img3g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}


		.img4g {
			border: $borderimg;
		  margin-top: 20px;
		  margin-left: 20px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;

		}

		.img4g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img5g {
			border: $borderimg;
		  margin-top: 222px;
		  margin-left: 350px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img5g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img6g {
			border: $borderimg;
		  margin-top: 222px;
		  margin-left: 680px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img6g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}


		.img7g {
			border: $borderimg;
		  margin-top: 20px;
		  margin-left: 20px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;

		}

		.img7g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img8g {
			border: $borderimg;
		  margin-top: 444px;
		  margin-left: 350px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img8g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

		.img9g {
			border: $borderimg;
		  margin-top: 444px;
		  margin-left: 680px;
		  margin-bottom: 10px;
		  width: 300px;
		  height: 200px;
		  position: absolute;
		  top: 0px;
		}

		.img9g:hover {
		  border: $borderimg;
		  box-sizing: border-box;
		  transition: 0.5s;
		  border-radius: 5px;
		  box-shadow: 2px 2px 5px gray;
		}

